<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - Whats App Ping</title>
    <link href="/global.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="h-screen flex flex-col items-center justify-center">
      <div class="border rounded-b-lg shadow-sm w-full max-w-md p-6">
        <h1 class="text-red-400 text-lg font-medium text-center py-12">
          Error: <%= message %>
        </h1>
      </div>
    </main>
  </body>
</html>
